<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit/View city</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<form id="add-form" th:action="@{/city/save}" th:if="${city == null}" method="post" action="city.html">
    <p><strong>Add new city:</strong></p>
    <div class="row">
        <label for="id-input">CityId:</label>
        <input id="id-input" name="id" type="text" required="required"/>
    </div>
    <div class="row">
        <label for="cityCode-input">CityCode:</label>
        <input id="cityCode-input" name="cityCode" type="text">
    </div>
    <div class="row">
        <label for="cityName-input">CityName:</label>
        <input id="cityName-input" name="cityName" type="text" required="required" maxlength="120" />
    </div>
    <div class="row">
        <label for="cityNameInEnglish-input">CityNameInEnglish:</label>
        <input id="cityNameInEnglish-input" name="cityNameInEnglish"
               type="text" required="required" maxlength="120" />
    </div>
    <div class="row">
        <label for="numberOfResidents-input">NumberOfResidents:</label>
        <input id="numberOfResidents-input" name="numberOfResidents"
               type="text" required="required" />
    </div>
    <div class="row">
        <a th:href="@{/cities}" href="cities.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit">Save</button>
    </div>
</form>
<form id="edit-form" th:action="@{/city/save(code=${city.id})}" th:unless="${city == null}" method="post"
      action="city.html" th:object="${city}">
    <p><strong>City Info:</strong></p>
    <div class="row">
        <label for="id-input">CityId:</label>
        <input id="id-input" type="text" th:value="*{id}" readonly="readonly" value="1"/>
    </div>
    <div class="row">
        <label for="cityCode-input">CityCode:</label>
        <input id="cityCode-input" name="cityCode" type="text" th:value="*{cityCode}"
               readonly="readonly" value="1">
    </div>
    <div class="row">
        <label for="cityName-input">CityName:</label>
        <input id="cityName-input" name="cityName" type="text"
               th:value="*{cityName}" required="required" maxlength="120" value="Art"/>
    </div>
    <div class="row">
        <label for="cityNameInEnglish-input">CityName:</label>
        <input id="cityNameInEnglish-input" name="cityNamenInEnglish"
               type="text" th:value="*{cityNameInEnglish}" required="required" maxlength="120" value="Art"/>
    </div>
    <div class="row">
        <label for="numberOfResidents-input">NumberOfResidents:</label>
        <input id="numberOfResidents-input" name="numberOfResidents" th:value="*{numberOfResidents}"
               type="text" required="required" />
    </div>
    <div class="row">
        <a th:href="@{/cities}" href="cities.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit"><img alt="Save" th:src="@{/images/save.png}"/></button>
    </div>
</form>
</body>
</html>